@import "./index/common.scss";  // css样式初始化

div{
    color: red;
    .asd{
        // jshfsjd
        font-size: 34px; // 字体
        color: #fff;
        width: 100px;
        height: 100px;
    }
}
